#registro{
width:390px;
min-height:180px;
margin:0 auto;
background-color:rgb(100,255,100);
border-radius:1%;
}

.formulario-texto{
float:left;
}
.izquierda{
text-align:right;
margin:18px;
margin-left:25px;
}
.formulario-inputs{
float:left;
}
.derecha{
margin:11px;
}
.submit{
clear:both;
margin-left:170px;
padding-left:5px;
width:45px;
height:15px;
}
.mensaje-error{
clear:both;
width:150px;
font-size:9px;
color:red;
margin-left:140px;
}
.error{
height:35px
}
.errores{
color:red;
padding-top:11px;
}
#titulo{
margin:0 auto;
width:200px;
font-size:20px;
margin-bottom:10px;
}
.submit:hover{
background-color:rgb(40,170,40);
}